<center>
    <img src="http://i.imgur.com/B2RZT55.png" width="60" height="60" align="top">
    <h1>Welcome to Instant SMS</h1>
    <p>You can use our website to send SMS text messages!</p>
    <p>The recipient's phone number must be Twilio verified.</p>
    
 <%= form_tag("/sms/send", method: "post") do |f|%>
     <%= label_tag(:message, "Message") %><br/>
        <%= text_field_tag(:message) %><p>
        <%= label_tag(:number, "Recipient Number") %><br> 
        <%= text_field_tag(:number) %><p> 
     <%= submit_tag("Send", :class => "submit") %>
    <% end %>
    
</center>